/* 
$Rev: 632 $ 
*/
:root {	
    --light_color:		#AFA6AF;
    --mid_light_color:	#8F868F;
    --mid_dark_color:	#708370;
    --mid2_dark_color:	#242424;
    --dark_color:		#121212;
    --highlight_gold:	#BB9754;
    
    --display_black:	#101010;
    --display_gray:		#0E3E0E;
    --display_light_gray:	#AEFEAE;
    --display_white:	#EFEFEF;

    --putty:			#95846F;
    --beige:			#BCB69E;
    --dark_blue:		#164e8e;
    --dark_purple:		#161d8e;
    --dark_red:			#88263b;
    --off_white:		#D3CDB5;
    --lt_gray:			#EEEEEE; 
    --dk_gray:			#E0E0E0;
    --01_gray:			#E8E8E8;
    --gb_black:			#101010;

    --main_background: var(--lt_gray);
    --main_text: var(--dark_purple);
   
    --strong_text: var(--dark_blue);
    --medium_text: var(--mid_dark_green);
    --weak_text: var(--off_white);
        	
	--calendar_background: var(--display_white);
	--calendar_header_buttons: var(--dark_color);
	--calendar_header_background: var(--dk_gray);
	--calendar_header_month_text: var(--dark_color);
	--calendar_header_text: var(--gb_black);
	--calendar_body_text: var(--light_color);
	--calendar_not_this_month_dates_text: var(--light_color);
	--calendar_this_month_dates_active: var(--gb_black);
	--calendar_current_date_background: var(--putty);
	--calendar_current_date_text: var(--gb_black);
	--calendar_hover_date_background: var(--dark_red);
	--calendar_hover_date_text: var(--putty);

	--time_clock_text: var(--display_black);
	--time_date_text: var(--dark_blue);
    
    --button_dashes: var(--01_gray);
    --button_color:  var(--dk_gray);
	--button_text: var(--off_white); 
	--button_hover_background: var(--lt_gray);
	--button_hover_text: var(--display_black);
	
	--commandlist_highlight: var(--dark_red);

	--input_focus_border: var(--dk_gray);
	--input_focus_background: var(--lt_gray);
	--input_focus_text: var(--gb_black);
	--input_border: var(--lt_gray);
	--input_background: var(--dk_gray);
	--input_text: var(--gb_black);
    
	--tasklist_header_background: var(--dark_color);
	--tasklist_header_text: var(--lt_gray);
	--tasklist_hover_background: var(--highlight_gold);
	--tasklist_hover_text: var(--gb_black);
	--tasklist_row_1_bg: var(--dk_gray);
	--tasklist_row_2_bg: var(--01_gray);
	--tasklist_due_today: var(--dark_purple);
	--tasklist_late_task: var(--dark_red);
	--tasklist_priority_0: var(--gb_black);
	--tasklist_priority_1: var(--display_black);
	--tasklist_priority_2: var(--dark_color);
	--tasklist_priority_3: var(--gb_black);
	--tasklist_priority_4: var(--dark_color);
	--tasklist_priority_5: var(--dark_color);
		
    --taskpanel_header_background: var(--gb_black);
    --taskpanel_header_text: var(--lt_gray);
    --taskpanel_background: var(--dk_gray);
    --taskpanel_text: var(--gb_black);

    --taskpanel_notes_background: var(--01_gray);
    --taskpanel_notes_text: var(--gb_black);
    --taskpanel_notes_background_focus: var(--lt_gray);
    --taskpanel_notes_text_focus: var(--gb_black);    
}
