/* 
$Rev: 564 $ 
*/
:root {
    --white:       		#E8DFDA;
    --light_green:    	#ADBC66;
    --dark_green:       #1C2E52;        
    --sea_foam_green:   #7ECA8E;
    --bright_white:     #DEE6EA;        
    --light_gray:   	#C1C3C9;
    --dark_gray:       	#74716A;       
    --very_dark_gray:   #221F1C;
    --brown:      		#3A272D;       
    --black:      		#11131A;       

    --main_background: var(--sea_foam_green);
    --main_text: var(--white);
   
    --strong_text: var(--black);
    --medium_text: var(--dark_gray);
    --weak_text: var(--light_gray);
    	
	--commandlist_highlight: var(--dark_red);

	--tasklist_header_background: var(--dark_green);
	--tasklist_header_text: var(--bright_white);
	--tasklist_hover_background: var(--light_green);
	--tasklist_hover_text: var(--very_dark_gray);
	
	--tasklist_row_1_bg: var(--light_gray);
	--tasklist_row_2_bg: var(--dark_gray);
	--tasklist_due_today: var(--brown);
	--tasklist_late_task: var(--black);
	--tasklist_priority_0: var(--black);
	--tasklist_priority_1: var(--black);
	--tasklist_priority_2: var(--black);
	--tasklist_priority_3: var(--black);
	--tasklist_priority_4: var(--black);
	--tasklist_priority_5: var(--black);
		
    --taskpanel_header_background: var(--light_blue);
    --taskpanel_header_text: var(--display_white);
    --taskpanel_background: var(--display_light_gray);
    --taskpanel_text: var(--dark_blue);

    --taskpanel_notes_background: var(--lt_gray);
    --taskpanel_notes_text: var(--gb_black);
    --taskpanel_notes_background_focus: var(--dark_blue);
    --taskpanel_notes_text_focus: var(--display_white);  
    
	--calendar_background: var(--dark_green);
	--calendar_header_buttons: var(--bright_white);
	--calendar_header_background: var(--sea_foam_green);
	--calendar_header_month_text: var(--bright_white);
	
	--calendar_header_text: var(--light_gray);
	--calendar_body_text: var(--light_gray);
	--calendar_not_this_month_dates_text: var(--dark_gray);
	
	--calendar_this_month_dates_active: var(--bright_white);
	--calendar_current_date_background: var(--sea_foam_green);
	--calendar_current_date_text: var(--bright_white);
	--calendar_hover_date_background: var(--bright_white);
	--calendar_hover_date_text: var(--sea_foam_green);

	--time_clock_text: var(--brown);
	--time_date_text: var(--brown);
    
	--button_dashes: var(--light_green);
    --button_color:  var(--dark_green);

	--button_text: var(--black); 
	--button_hover_background: var(--light_green);
	--button_hover_text: var(--black);

	--input_focus_border: var(--light_gray);
	--input_focus_background: var(--light_gray);
	--input_focus_text: var(--black);
	--input_border: var(--dark_gray);
	--input_background: var(--light_gray);
	--input_text: var(--black);
    
}
          
* {
	box-sizing: border-box;
}

textarea:focus {
  border: 2px solid var(--bi);
  background-color: var(--update_text);
  color: var(--update_background);
}

textarea {
  border: 2px solid var(--update_text);
  outline: none;
  background-color:var(--update_background);
  color: var(--update_text);

}

input[type=text]:focus {
  border: 2px solid var(--bi);
  background-color: var(--strong_text);
  color: var(--table_row_1_tx);
}

input[type=text] {
  border: 2px solid var(--medium_text);
  outline: none;
  background-color:var(--update_background);
  color: var(--medium_text);
}



.full-height {
  height: 100%;
  background: var(--table_row_1_bg);
}

div_debug {
	outline: 1px solid var(--it);
}

.largeText{
	font-size: 16px;
}
.regularText{
	font-size: 12px;
	text-align: left;
}
.smallText{
	font-size: 8px;
}
pre {
	color: var(--medium_text);
	display: block;
	letter-spacing: 0px;
	word-spacing: 0px;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0px;
}

* {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	letter-spacing: -0.4px;
	word-spacing: -1px;
	font-weight: 300;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

body {
	color: var(--medium_text);
	background-color: var(--background);
	margin: 15;
}

.priority_0 {
	color: aqua;	
}

.priority_1 {
	color: var(--strong_text);
}

.priority_2 {
	color: var(--medium_text);
}

.priority_3 {
	color: var(--it);
}

.priority_4 {
	color: var(--button_color);
}

.priority_5 {
	color: black;
}

.columnRight40 {
	float: left;
	width: 40%;
	padding: 5px;
}

.columnRight38 {
	float: left;
	width: 38%;
	padding: 5px;
}

.columnLeft60 {
	float: left;
	width: 60%;
	padding: 5px;
}

.columnRight65 {
	float: left;
	width: 65%;
	padding: 5px;
}

.columnLeft35 {
	float: left;
	width: 35%;
	padding: 5px;
}


.columnRight50 {
	float: left;
	width: 50%;
	padding: 5px;
}

.columnLeft50 {
	float: left;
	width: 50%;
	padding: 5px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.button {
	background-color: var(--button_color);
	color: var(--bu2); 
	border: 2px dashed var(--button_dashes);
	padding: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
}

.button:hover {
	background-color:black;
	color:aqua;
}

.update_area {
	height: 420px;
	background-color: var(--update_background);
	color: var(--update_text);
}

.update_spacer {
	height: 16px;
	background-color: var(--update_text);
	color: var(--update_background);
}

table.alternateColors tr:nth-child(odd) {
	/*color: var(--table_row_1_tx); */
	background: var(--table_row_1_bg);
}

table.alternateColors tr:nth-child(even) {
	/*color: var(--table_row_2_tx); */
	background: var(--table_row_2_bg);
}

table { 
	width: 100%;
	border-collapse: collapse; 
	empty-cells: show; 
}

td { 
	position: relative; 
}

tr.strikethrough td:before {
	content: " ";
	position: absolute;
	top: 50%;
	left: 0;
	border-bottom: 1px solid #111;
	width: 100%;
}

tr.strikeout td:after {
	content: "\00B7";
	font-size: 10px;
}

/* Extra styling */
td { }
th { 
	text-align: center;
	background-color: black;
	color: var(--it);
}

#taskTable tr:hover td {
	background-color: black;
	color: aqua;
}

#taskTable td:hover {
    cursor: pointer;
}



